.CreateLionHeader{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.CreateLionBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

